.link {
    text-decoration: none;
    color:pink;
    background-color: aquamarine;
}
.link:hover {
    color: black;
    background-color: gray;
    text-decoration: line-through;
    text-decoration: underline;
}
